<section class="rightsections">
    <section *ngFor="let form of forms">
        <form [formGroup]="form">
            <legend>Achievments</legend>
            <div formArrayName="formArray">
                <div *ngFor="let field of form.controls.formArray.controls; let i=index">
                    <div [formGroupName]="i">
                        <textarea ROWS=2 COLS=30 formControlName="achievement" type="text" placeholder="Your achievement" (change)="getData()"></textarea>
                        <input type="image" class="deletefield" (click)="delete(i)" src="resumeimg/delete.png" />
                    </div>
                </div>
                <button type="button" (click)="addachivement(form) ">Add Achievment</button>
            </div>
        </form>
    </section>
</section>