<section *ngFor="let form of forms">
    <form [formGroup]="form">
        <legend>Enter your projects:</legend>
        <input formControlName="projectname" type="text" placeholder="Enter the project name" size="30">
        <br>
        <div formArrayName="formArray">
            <ul *ngFor="let field of form.controls.formArray.controls; let i=index">
                <li [formGroupName]="i">
                    <input formControlName="role" type="text" placeholder="Enter your role in the project" size="40">
                </li>
            </ul>
            <button type="button" (click)="addrole(form)">Add role</button>
        </div>
        <button type="button" (click)="addNewProject()">Enter new project</button>
    </form>
</section>