<section *ngFor="let form of forms">
    <form [formGroup]="form">
        <legend>Enter your work experience:</legend>
        <label>Enter the work start time:</label>
        <input formControlName="starttime" type="date">
        <br>
        <label>Enter the work end time:</label>
        <input formControlName="endtime" type="date">
        <br>
        <input formControlName="location" type="text" placeholder="The work location">
        <br>
        <input formControlName="jobname" type="text" placeholder="Your job name">
        <br>
        <input formControlName="companyname" type="text" placeholder="The company name">
        <br>
        <label>Tasks/Achievments:</label>
        <br>
        <div formArrayName="formArray">
            <ul *ngFor="let field of form.controls.formArray.controls; let i=index">
                <li [formGroupName]="i">
                    <input type="text" formControlName="achievement" placeholder="Your tasks/achievements">
                </li>
            </ul>
            <button type="button" (click)="addTask(form)">Add tasks/achivements</button>
        </div>

    </form>

</section>
<button type="button " (click)="addNewWork() ">Add new work</button>
<button type="button " (click)="getData() ">Save All</button>