<section *ngFor="let form of forms">
    <form [formGroup]="form">
        <legend>Interests</legend>
        <div formArrayName="formArray">
            <ul *ngFor="let field of form.controls.formArray.controls; let i=index">
                <li [formGroupName]="i">
                    <input formControlName="interest" type="text" placeholder="Enter your interest" size="30">
                </li>
            </ul>
        </div>
        <button type="button" (click)="addinterest(form)">Add Interest</button>
    </form>
</section>