header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 2px solid darkslategray;
}

#personalinfo {
    flex: 40%;
    order: 1;
}

#headerdot {
    height: 70px;
    width: 40px;
    background-color: teal;
    display: inline-block;
    position: relative;
    top: 30px;
}

#personalinfo h1 {
    display: inline;
    font-size: 3.0em;
    margin: 0px 0px 2px 5px;
    font-weight: bold;
    color: black;
    font-family: initial;
}

#personalinfo p {
    padding-left: 25px;
    font-family: initial;
    font-size: x-large;
    color: teal;
    margin: 2px 0px 15px 25px;
}

#profilephoto {
    flex: 30%;
    order: 2;
}

#profilephoto img {
    display: inline-block;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 50%;
    margin-top: 15px;
    border: 5px solid lightslategray;
    width: 200px;
    height: 180px;
}

#contact {
    flex: 30%;
    order: 3;
}

#contact ul {
    text-align: right;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 45px
}

#contact li {
    margin-bottom: 15px;
    margin-right: 10px;
}

#contact ul li img {
    width: 10%;
    height: 20px;
    float: right;
    border: 0px;
    margin-top: 0px;
}

#contact ul li p {
    margin-bottom: 10px;
    font-family: initial;
    color: black;
    font-size: initial;
}

address a {
    color: indigo;
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    padding: 5px 0px;
}

section {
    margin-bottom: 40px
}

article {
    margin-bottom: 20px;
}

h5 {
    margin: 10px 0px 0px 45px;
    font-style: italic;
    color: darkslategrey;
    font-weight: bold;
    font-family: initial;
    font-size: medium;
}

p {
    margin: 0px 0px 0px 45px;
    font-size: initial;
    color: black;
    font-family: initial;
}

#leftcontent {
    flex: 50%;
    margin-bottom: 50px;
}

#leftcontent h2 {
    margin-left: 50px;
    font-size: xx-large;
    font-family: sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}

.maindot {
    height: 60px;
    width: 40px;
    background-color: darkslategray;
    display: inline-block;
    position: absolute;
    overflow: hidden;
}

.start-time {
    display: inline;
    margin-left: 55px;
    font-size: medium;
    color: darkslategray
}

.end-time {
    display: inline;
    font-size: medium;
    color: darkslategray
}

.place {
    font-size: medium;
    margin-left: 35px;
    color: darkslategrey;
    text-align: left;
    float: right;
    margin-right: 15px;
}

h3 {
    margin: 2px 0px 0px 55px;
    font-size: x-large;
    color: black;
    font-family: initial;
    font-weight: bold;
}

h4 {
    margin: 2px 0px 10px 55px;
    font-weight: normal;
    font-size: x-large;
    color: black;
    font-family: -webkit-body;
}

#ul-work {
    margin: 3px 0px 10px 50px;
    color: black;
    font-family: initial;
    font-size: large;
    padding-left: 0px;
}

#ul-work h5 {
    margin-left: 5px;
}

#ul-work li {
    margin-left: 25px;
    margin-bottom: 5px;
}

#ul-Education {
    margin-top: 3px;
    margin-bottom: 0px;
    padding-left: 30px;
    color: black;
    font-family: initial;
    font-size: large;
}

#ul-Education h5 {
    margin-left: 25px;
}

#ul-Education li {
    margin-left: 45px;
    margin-bottom: 5px;
}

.ul-project {
    margin-top: 3px;
    margin-left: 35px;
    color: black;
    font-size: large;
    font-family: initial;
    margin-bottom: 10px;
}

.ul-project li {
    margin-bottom: 5px;
}

#rightcontent {
    flex: 50%;
}

#rightcontent h2 {
    margin-left: 33px;
    font-size: xx-large;
    font-family: sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-weight: bold;
}

#rightcontent h3 {
    margin-left: 38px;
}

#rightcontent .maindot {
    height: 60px;
    width: 35px;
    background-color: darkslategray;
    display: none;
    position: absolute;
    overflow: hidden;
}

.ul-skills {
    margin-top: 3px;
    list-style: none;
    margin-bottom: 5px;
    margin-left: 0px;
}

.ul-skills li {
    margin-bottom: 5px;
}

.ul-skills li p {
    display: inline;
    margin: 5px 0px 2px 20px;
    text-align: right;
    color: black;
    font-size: large;
    font-family: initial;
}

meter {
    float: right;
    width: 60%;
    margin-right: 20px;
}

meter::-webkit-meter-optimum-value {
    background: darkslategray;
}

.course-ul {
    margin-left: 40px;
    padding-left: 0px;
    list-style: none;
    font-size: large;
}

.course-ul li {
    margin-bottom: 10px;
}

.p-achive {
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: large;
}

.h2-language {
    margin-left: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.h4-language {
    display: block;
    margin: 0px 50px 0px 47px;
    font-weight: normal;
    font-size: large;
}

.level {
    margin: 0px 0px 10px 50px;
    display: block;
    font-size: medium;
    color: darkslategrey;
}

.p-interest {
    font-size: large;
    margin-left: 38px;
    margin-bottom: 10px;
}

@media(max-width:992px) {
    #personalinfo h1 {
        font-size: 2.5em;
    }
    #personalinfo p {
        padding-left: 25px;
        font-size: 1.3em;
    }
    #headerdot {
        height: 60px;
        width: 40px;
    }
    #profilephoto img {
        width: 180px;
        margin-bottom: 5px;
    }
    #contact ul {
        text-align: right;
    }
    #contact ul li p {
        font-size: medium;
    }
    #leftcontent h2 {
        font-size: x-large;
    }
    .maindot {
        height: 55px;
        width: 35px;
    }
    #ul-work {
        font-size: medium;
    }
    #rightcontent h2 {
        font-size: x-large;
    }
    .ul-skills li p {
        font-size: medium;
    }
    .h4-language {
        font-size: medium;
        margin: 0px 0px 0px 45px;
    }
    h3 {
        font-size: large;
    }
    h4 {
        font-size: large;
    }
    .level {
        margin-left: 45px;
    }
}

@media(max-width:768px) {
    header {
        display: flex;
        flex-direction: column;
    }
    #personalinfo h1 {
        font-size: 1.5em;
    }
    #personalinfo p {
        font-size: 1.0em;
        margin-bottom: 0px
    }
    #profilephoto img {
        height: 150px;
        width: 150px;
        margin-left: 15px;
    }
    #contact {
        margin-bottom: 10px;
    }
    #contact ul {
        text-align: left;
        margin-left: 0px;
        padding-left: 5px;
        margin-top: 5px;
    }
    #contact ul li img {
        float: left;
        margin-left: 0px;
    }
    #contact ul li p {
        font-size: initial;
    }
    main {
        display: flex;
        flex-direction: column;
    }
    #leftcontent {
        margin-bottom: 0px;
    }
    #rightcontent {
        margin-bottom: 50px;
        margin-top: 0px;
    }
    #rightcontent h2 {
        margin-left: 50px;
    }
    #rightcontent h3 {
        margin-left: 55px;
    }
    .ul-project {
        margin-left: 50px;
    }
    .ul-skills li p {
        margin-left: 40px;
    }
    .course-ul {
        margin-left: 55px;
    }
    .p-achive {
        margin-left: 55px;
    }
    .h4-language {
        margin-left: 55px;
    }
    .level {
        margin-left: 55px;
    }
    .p-interest {
        margin-left: 55px;
    }
    #rightcontent .maindot {
        height: 55px;
        width: 35px;
        background-color: darkslategray;
        display: inline-block;
        position: absolute;
        overflow: hidden;
    }
    section {
        margin-bottom: 30px;
    }
}