<header>
    <div id="personalinfo" *ngFor="let Pinfo of personalinfo">
        <div *ngIf="Pinfo.personalName" id="headerdot"></div>
        <h1>{{Pinfo.personalName}}</h1>
        <p>{{Pinfo.carrer}}</p>
        <p>{{Pinfo.summary}}</p>
    </div>
    <div *ngIf="personalphoto.personalPhoto 
                && personalphoto.personalPhoto!=='resume img/profile.gif'" id="profilephoto">
        <img src="{{personalphoto.personalPhoto}}">
    </div>
    <div id="contact">
        <ul *ngFor="let info of contactinformation">
            <li *ngIf="info.email">
                <img src="resume img/mail.png">
                <p>{{info.email}}</p>
            </li>
            <li *ngIf="info.phone">
                <img src="resume img/phone.png">
                <p>{{info.phone}}</p>
            </li>
            <li *ngIf="info.country">
                <img src="resume img/earth.png">
                <p>{{info.country}}</p>
            </li>
            <li *ngIf="info.github">
                <img src="resume img/git.png">
                <address>
                        <a href="http://{{info.github}}">{{info.github}}</a>
                 </address>
            </li>
            <li *ngFor="let newcontacts of info.newcontacts">
                <img *ngIf="photo(newcontacts.newcontact)" src="resume img/{{photo(newcontacts.newcontact)}}">
                <p>{{newcontacts.newcontact}}</p>
            </li>
        </ul>
    </div>
</header>
<main>
    <section id="leftcontent">
        <section *ngIf="works.length>0 && works[0].jobname!==''">
            <h2>Work Experience</h2>
            <article *ngFor="let work of works">
                <div class="maindot"></div>
                <time class="start-time" datetime="2015-11">{{work.starttime}} -</time>
                <time class="end-time" datetime="2016-02"> {{work.endtime}}</time>
                <p class="place">{{work.location}}</p>
                <h3>{{work.jobname}}</h3>
                <h4>{{work.companyname}}</h4>
                <ul id="ul-work" *ngIf="work.tasks[0].task!==null && work.tasks[0].task!==''">
                    <h5>Tasks/Achievments:</h5>
                    <li *ngFor="let tsk of work.tasks">{{tsk.task}}</li>
                </ul>
            </article>
        </section>

        <section *ngIf="educations.length>0 && educations[0].educationName!==''">
            <h2>Education</h2>
            <article *ngFor="let edu of educations">
                <div class="maindot"></div>
                <time class="start-time" datetime="2011-09">{{edu.starttime}} -</time>
                <time class="end-time" datetime="2015-07"> {{edu.endtime}}</time>
                <h3>{{edu.educationName}}</h3>
                <h4>{{edu.unviName}}</h4>
                <ul id="ul-Education" *ngIf="edu.educourses[0].coursename!==null && edu.educourses[0].coursename!==''">
                    <h5>Courses</h5>
                    <li *ngFor="let course of edu.educourses">{{course.coursename}}</li>
                </ul>
            </article>
        </section>

        <section *ngIf="projects.length>0 && projects[0].projectname!==''">
            <h2>Projects</h2>
            <article *ngFor="let proj of projects">
                <div class="maindot"></div>
                <h3>{{proj.projectname}}</h3>
                <ul class="ul-project" *ngIf="proj.roles.length>0 && proj.roles[0].role!==''">
                    <li *ngFor="let role of proj.roles">{{role.role}}</li>
                </ul>
            </article>
        </section>
    </section>

    <section id="rightcontent">
        <section *ngIf="skills.length>0 && skills[0].skills.length>0
                    && skills[0].skills[0].skillname!==''">
            <h2>Skills & Competences</h2>
            <article *ngFor="let skill of skills">
                <div class="maindot"></div>
                <h3>{{skill.skillcategory}}</h3>
                <ul class="ul-skills">
                    <li *ngFor="let sk of skill.skills">
                        <p>{{sk.skillname}}</p>
                        <meter *ngIf="sk.skill_level!==null && sk.skill_level!==''" value="{{sk.skill_level}}" max="100"></meter>
                    </li>
                </ul>
            </article>
        </section>
        <section *ngIf="courses.length>0 && courses[0].courses.length>0 
                     && courses[0].courses[0].course!==''">
            <div class="maindot"></div>
            <h2>Courses</h2>
            <article *ngFor="let course of courses">
                <ul class="course-ul">
                    <li *ngFor="let crs of course.courses">
                        {{crs.course}}
                    </li>
                </ul>
            </article>
        </section>
        <section *ngIf="achievements.length>0 && achievements[0].achievements.length>0
                    && achievements[0].achievements[0].achievement!==''">
            <div class="maindot"></div>
            <h2>Achievments</h2>
            <article *ngFor="let ach of achievements">
                <p class="p-achive" *ngFor="let a of ach.achievements">{{a.achievement}}</p>
            </article>
        </section>
        <section *ngIf="languages.length>0 && languages[0].language.length>0 
                     && languages[0].language[0].newlanguagename!==''">
            <div class="maindot"></div>
            <h2 id="h2-language">Languages</h2>
            <article *ngFor="let lang of languages">
                <div *ngFor="let Lg of lang.language">
                    <h4 class="h4-language">{{Lg.newlanguagename}}</h4>
                    <p class="level">{{Lg.newlevel}}</p>
                </div>
            </article>
        </section>
        <section *ngIf="Interests.length>0 && Interests[0].interests.length>0 
                     && Interests[0].interests[0].interest!==''">
            <div class="maindot"></div>
            <h2>Interests</h2>
            <article *ngFor="let inter of Interests">

                <p class="p-interest" *ngFor="let in of inter.interests">{{in.interest}}</p>

            </article>
        </section>
    </section>
</main>
<footer>
    <button id="downloadButton" (click)="download()">Download PDF</button>
</footer>